:root {
  /* SPACING */
  --ds-spacing-01: 4px;
  --ds-spacing-02: 8px;
  --ds-spacing-03: 16px;
  --ds-spacing-04: 24px;
  --ds-spacing-05: 32px;
  --ds-spacing-06: 48px;
  --ds-spacing-07: 64px;
  --ds-spacing-08: 80px;

  --spacing-xs: var(--ds-spacing-01);
  --spacing-sm: var(--ds-spacing-02);
  --spacing-md: var(--ds-spacing-03);
  --spacing-lg: var(--ds-spacing-04);
  --spacing-xl: var(--ds-spacing-05);
  --spacing-2xl: var(--ds-spacing-06);
  --spacing-3xl: var(--ds-spacing-07);
}
